---
 const personalImageAlt = "Txema Lanchazo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Txema Lanchazo y llevo más de 9 años programando. Estudié Ingenieria 
      informática con especialización en desarrollo de software en la UOC. Actualmente,  
      <strong>trabajo como freelance</strong>, entusiasmado de poder realizar proyectos 
      con los que finalmente me siento identificado.
    </p>

    <p>
      Trabajo desde muy pequeño y con 18 años <strong>me independicé cruzando el 
      mediterraneo y separandome de mis padres</strong>. A lo largo de mi vida laboral 
      he trabajado en varios sectores, todos relacionados con la construcción. Sin 
      embargo, no fue hasta Noviembre de 2023 cuando finalmente me decidí a seguir mi 
      verdadera pasión: la programación.
    </p>

    <p>
      Como programador, <strong>la mayoría mis logros se centran en el  
      <em class="italic">Desarrollo web</em> aunque también tengo experiencia  
      <em class="italic">Desarrollo Backend y FullStack</em></strong>. Mi 
      objetivo es ayudar a las empresas en su proceso de digitalización.
    </p>
  </div>

  <img width="200" height="200" src="/me_down.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>