---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Actualmente...',
        title: 'Desarrollador FullStack',
        company: "freelance",
        description:
            'Trabajo como freelance, creando soluciones tecnológicas que optimizan procesos empresariales y mejoran la presencia en línea de mis clientes.',
    }
]
---


<ol class="relative mt-16"> 
    {
        EXPERIENCE.map(experience => (
            <li class="">
                <ExperienceItem { ... experience} />
            </li>
        ))
    }
</ol>

